# Data manipulation and numerical computing
pandas==1.5.3
numpy==1.26.0

# Machine Learning and pipelines
scikit-learn==1.4.2

# Image processing
Pillow==9.5.0

# Deep Learning (TensorFlow includes Keras)
tensorflow==2.18.0

# Model persistence
joblib==1.2.0

# Backend web framework
Flask==2.2.2
flask-cors==3.0.10

# Keras wrapper to integrate with scikit-learn
scikeras==0.13.0